*{
    box-sizing:border-box;
    margin: 0;
    background-color: #f4e5d2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-heading{
    display: flex;

    width:100%;
    height:15vw;
    background-color: #A3CCDA;
    font-size: 7vw;
}

#heading1{
    align-self: center;
    margin-left: 2vw;
    background-color: #A3CCDA;;
}
#jiit{
    height:100%;
    width:15vw;
}
.search_bar{
    width:50vw;
    height:5.5vh;
    background-color:aquamarine;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-left:5% ;
}
.search_bar pre{
    height: 100%;
    align-self: flex-end;
    font-size: 1.7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.options{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
option{
    background-color: whitesmoke;
}
#search_by{
    height:100%;
    width:10%;
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    background-color: whitesmoke;
}
#search{
    height: 100%;
    width:60%;

    background-color: whitesmoke;
}

.logout{
    display: flex;
    margin-top:2%;
    justify-content: space-between;
}
#logout, #myprofile{
    font-size: 1rem;
    margin-right:2%;
    width:7vw;
    height: 6vh;
    border: 2px solid black;
    border-radius: 4px;
    background-color: green;
}
#logout:active, #myprofile:active{
    scale: 0.9;
    transition-duration: 2ms;
}

.icon{

    height:100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    background-color: whitesmoke;
}
i{
    background-color: whitesmoke;
}
.icon:active{
    scale:0.98;
}
.bookinfo{
    margin-top: 3%;
    margin-left: 10%;
    font-size: large;
}
.bookinfo td, .bookinfo th{
    height: 5vh;
    width:fit-content;
}
table{
    visibility: hidden;
}
#sno, #shelf{
    text-align: center;
}
.bookinfo th{
    background-color:teal;
}
.bookinfo td{
    background-color:bisque;
    padding-left: 15px;
    padding-right: 15px;
}
#booktable{
    border: 2px solid black;
    width:70vw;
    margin-bottom: 40px;
}