*{
    box-sizing:border-box;
    margin: 0;
    background-color: #F4e5d2;
}


.main-heading{
    display: flex;

    width:100%;
    height:10vw;
    background-color: #A3CCDA;
    font-size: 7vw;
}
#heading1{
    align-self: center;
    margin-left: 2vw;
    background-color: #A3CCDA;;
}
#jiit{
    height:100%;
    width:15vw;
}
.entry{
    margin-top:1.5%;
    margin-left:3%;
}
h1{
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 1.5%;
}
h2{
    margin-bottom:1%;
    font-size: 2.5rem;
}
label{
    font-size: 1.5rem;

}
.student_info,.book_info{
    display: flex;
    align-items: center;
}
#enr, #title, #isbn{
    height: 2.4vw;
    margin-left: 2vw;
    width:15vw;
    font-size: 1rem;
}
#enr:focus, #title:focus, #isbn:focus{
    background-color: #e1e1c7;
}
.book_info{
    display: flex;
    flex-wrap: nowrap;

}
#one{
    margin-right: 35%;
}
input{
    border:3px solid black;
    border-radius: 6%;
}
.submit{
    display: flex;
    margin-top:7vw;
    text-align: center;
    justify-content: center;
}
#submit_button{
    height: 2.5vw;
    width:10vw;
    border-radius: 3%;
    background-color: rgb(45, 45, 224);
    font-size: large;
}
#submit_button:active{
    transition-duration: 5ms;
    transition-timing-function:ease-in-out;
    scale:0.95;
}
.border{
    margin-top: 1%;
    border: 10px groove #765b36;
    padding-bottom:5%;
}