*{
    box-sizing:border-box;
    margin: 0;
    background-color: #f4ebe0;
}


.main-heading{
    display: flex;

    width:100%;
    height:15vw;
    background-color: #A3CCDA;
    font-size: 7vw;
}
#heading1{
    align-self: center;
    margin-left: 2vw;
    background-color: #A3CCDA;;
}
#jiit{
    height:100%;
    width:15vw;
}

.stud-info{
    margin-top:1%;
    height: 38vh;
    margin-left:1%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid black;
    width:95vw;
    border-radius: 8px;
    background-color: antiquewhite;
}
.stud-img{
    height:100%;
    aspect-ratio: 1;
}
.info{
    margin-left: 1.5%;
    background-color: antiquewhite;
}
.info p{
    margin-top: 5%;
    font-size: 1.5em;
    background-color: antiquewhite;
}
.stud-info img{
    height: 100%;
}
h1{
    margin-top: 3%;
    margin-left: 1%;
}
.issue{
    margin-top: 1%;
    width:80vw;
    margin-left: 1%;
}
table{
    width: 100%;
    border: 2px solid black;
    border-style:groove;
    border-color: black;

}
tr{
    height: 5vh;
    font-size: large;

}
#center, .right{
    text-align: center;
}
th{
    background-color:rgb(246, 201, 147);

}

td{
    background-color: rgb(242, 228, 212);

}

