*{
    box-sizing:border-box;
    margin: 0;
    background-color: #F9F5F0;
}


.main-heading{
    display: flex;

    width:100%;
    height:15vw;
    background-color: #A3CCDA;
    font-size: 7vw;
}
#heading1{
    align-self: center;
    margin-left: 2vw;
    background-color: #A3CCDA;;
}
#jiit{
    height:100%;
    width:15vw;
}
.boxes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 10vw;
    margin-left: 1vh;
    margin-right:1vh;
}
.box1{

    width:30vw;
    border: 3px black solid;
    height:20vw;
    padding-top:6vw;
    text-align: center;
    color:black;
    font-size: 3em;
    justify-content: center;
    background-color: #fee7e7;
    border-radius: 3vh;
}

a{
    text-decoration: none;
    color:black
}
.box1:hover{
    scale: 0.99;
}
pre{
    background-color: #fee7e7;
}
