*{
    box-sizing:border-box;
    margin: 0;

    background-color: #F9F5F0;
}



.main-heading{
    display: flex;

    width:100%;
    height:15vw;
    background-color: #A3CCDA;
    font-size: 7vw;
}
#heading1{
    align-self: center;
    background-color: #A3CCDA;
    margin-left: 2vw;
}
#jiit{
    height:100%;
    width:15vw;
}
.login{
    width: 100%;
    height:80vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
}

fieldset{
    height: 70%;
    width:40vw;
    font-size: 140%;
     background-color:antiquewhite;
    border: 3px solid black;
    border-radius: 8px;
}
legend{
    font-size: 2em;
}
#name,#passwd{
    display: block;
    width:80%;
    height:15%;
    margin-top: 2%;
}
#name:hover,#passwd:hover,#name:active,#passwd:active{
    background-color: rgb(227, 182, 122);
}
#sbutton{
    width:100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
}
button{
    width:30%;
    height:4vh;
    border: 2px solid black;
    border-radius: 4px;
    background-color: gainsboro;

}
button:hover{
    background-color: gray;
    scale: 1.05;
    transition-duration: 0.2s;
}
button:active{
    scale:0.9;
    background-color: gray;
    transition-duration: 0.2s;
}
label{
    background-color:antiquewhite;
}

